{% extends 'base.html' %}


{% block title %}
Home - EventPro
{% endblock %}



{% block content %}


<section class="hero">


    <div class="hero-content">

        <h1>
            Welcome to Event Registration System
        </h1>


        <p>
            Register for events easily, manage your bookings,
            and never miss an important occasion.
        </p>


        <a href="#" class="btn">
            Explore Events
        </a>


    </div>


</section>



<section class="features">


    <h2>
        Why Choose Us?
    </h2>


    <div class="cards">


        <div class="card">

            <h3>
                Easy Registration
            </h3>

            <p>
                Register for your favorite events quickly and easily.
            </p>

        </div>



        <div class="card">

            <h3>
                Event Management
            </h3>

            <p>
                Organizers can manage events and participants.
            </p>

        </div>



        <div class="card">

            <h3>
                Secure System
            </h3>

            <p>
                Your registration information is protected.
            </p>

        </div>


    </div>


</section>



<section class="stats">


    <div>
        <h2>100+</h2>
        <p>Events</p>
    </div>


    <div>
        <h2>500+</h2>
        <p>Users</p>
    </div>


    <div>
        <h2>1000+</h2>
        <p>Registrations</p>
    </div>


</section>



{% endblock %}