{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<section class="profile-page">

    <div class="profile-card">

        <img
        src="{% static 'images/default-user.png' %}"
        class="profile-image">

        <h2>
            {{ request.user.first_name }}
        </h2>

        <p>
            <strong>Username:</strong>
            {{ request.user.username }}
        </p>

        <p>
            <strong>Email:</strong>
            {{ request.user.email }}
        </p>

        <div class="profile-buttons">

            <a href="{% url 'edit_profile' %}" class="btn">
    Edit Profile
</a>

            <a href="{% url 'change_password' %}" class="btn">
Change Password
</a>

        </div>

    </div>

</section>

{% endblock %}